@use "sass:map";
@import "@/styles/variables";

.listview,
.taskbar {
  display: none;
}

@media (min-width: 768px) {
  .tools {
    .content {
      padding-left: calc(
        map-get($map: $width, $key: "listview") +
          map-get($map: $spacing, $key: "sm")
      );
    }

    .listview {
      display: block;
      padding-left: map-get($map: $width, $key: "taskbar");
    }

    .navbar {
      padding-left: map-get($map: $width, $key: "taskbar");
    }

    .taskbar {
      display: block;
    }
  }
}
