@use "sass:map";
@import "@/styles/variables";

.navbar {
  height: map-get($map: $height, $key: "navbar");

  padding: 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;

  .credit {
    height: 100%;
  }
}

@media (min-width: 768px) {
  .navbar {
    left: map-get($map: $width, $key: "taskbar");

    .credit {
      padding-left: map-get($map: $width, $key: "listview");
    }
  }
}
