@use "sass:map";
@import "@/styles/variables";

.nav {
  background: url("/noise.svg"),
    linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  margin: 0 auto;

  display: flex;
  justify-content: center;

  position: sticky;
  z-index: 2;

  .container {
    width: 100%;
    max-width: 1280px;

    display: flex;
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  align-items: center;

  h1 {
    font-family: map-get($map: $theme-fonts, $key: "logo"), sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: -0.75px;
  }
}

.account {
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.nav button {
  color: rgb(47, 47, 47);
  font-weight: 600;

  background-color: transparent;

  border: none;
  border-radius: 20px;

  outline: 2px solid transparent;

  padding: 0.5em 1em;

  transition: map-get($map: $transition, $key: "default");

  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background-color: rgba($color: #fff, $alpha: 0.6);
    transition: map-get($map: $transition, $key: "default");
  }

  &:hover,
  &:active,
  &:focus {
    color: black;

    &::after {
      width: 80%;
    }
  }

  &.signup {
    color: #121826;
    background-color: white;

    &:hover,
    &:active,
    &:focus {
      background-color: rgba($color: #fff, $alpha: 0.6);

      &::after {
        width: 0;
      }
    }
  }
}

.links {
  display: none;
}

@media (min-width: 576px) {
  .nav {
    padding-left: 32px;
    padding-right: 32px;
  }

  .links {
    display: block;
  }
}
