@use "sass:map";
@import "@/styles/variables";

// List View styling
.listview {
  width: 18rem;

  background-color: map-get($map: $bg-variants, $key: "secondary");
  box-shadow: map-get($map: $shadow, $key: "default");

  border-radius: map-get($map: $border-radius, $key: "outer");

  padding: map-get($map: $spacing, $key: "sm");
  margin: map-get($map: $spacing, $key: "sm");

  // display: none;
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 2.5em;
  bottom: 0;

  overflow-y: scroll;
}

// Navigation tab styling
.listview {
  .nav {
    color: white;
    font-size: 0.9em;
    font-weight: 600;

    background-color: map-get($map: $bg-variants, $key: "primary");

    border: $border-width solid $border-color;
    border-bottom: none;
    border-radius: map-get($map: $border-radius, $key: "inner")
      map-get($map: $border-radius, $key: "inner") 0px 0px;

    .container {
      background-color: map-get($map: $theme-colors, $key: "primary");

      border: none;
      border-radius: map-get($map: $border-radius, $key: "inner");
      padding: map-get($map: $spacing, $key: "sm");

      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 0.25em;

      button {
        border-radius: map-get($map: $border-radius, $key: "inner");
        padding: map-get($map: $spacing, $key: "sm");

        flex-grow: 1;

        transition: all 0.2s ease-in-out;
      }

      [aria-current="page"] {
        color: black;
        background-color: white;
      }

      button:hover {
        color: black;
        background-color: white;
      }
    }
  }
}

// Tool list styling
.listview {
  .list {
    height: 100%;
    background-color: map-get($map: $bg-variants, $key: "primary");

    border: $border-width solid $border-color;
    border-top: none;
    border-radius: 0px 0px map-get($map: $border-radius, $key: "inner")
      map-get($map: $border-radius, $key: "inner");

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .empty {
      padding: map-get($map: $spacing, $key: "sm");
    }
  }
}

@media (min-width: 768px) {
  .listview {
    // display: flex;
    // flex-direction: column;

    // position: fixed;
    top: 0;
    // bottom: 0;
  }
}
