@use "sass:map";
@import "@/styles/variables";

$padding: 0.5em;

$border-width: 1px;
$border-color: #e8eaf2;

.tool {
  width: 100%;
  text-align: left;

  background-color: map-get($map: $bg-variants, $key: "primary");
  border-bottom: $border-width solid $border-color;
  padding: 0.75em $padding;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1em;

  position: relative;

  &:hover,
  &[aria-current="page"] {
    background-color: darken(map-get($map: $bg-variants, $key: "primary"), 2%);
  }

  &::after {
    content: "";
    height: 80%;
    width: 4px;

    background-color: map-get($map: $theme-colors, $key: "primary");
    border-radius: 5px;

    position: absolute;
    left: -4px;

    transition: map-get($map: $transition, $key: "default");
  }

  &[aria-current="page"] {
    &::after {
      left: -2px;
    }
  }

  &:last-of-type {
    border-bottom: none;
  }

  .icon {
    height: 45px;
    aspect-ratio: 1/1;
    background-color: $border-color;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    font-weight: 600;
  }

  p {
    color: #677489;
    font-size: 0.75em;
    flex-grow: 1;
  }

  .favoriteIcon {
    transition: map-get($map: $transition, $key: "default");
    flex-shrink: 0;
  }

  .favoriteIcon:hover {
    fill: #efa561;
    stroke: transparent;
  }
}
