@use "sass:map";
@import "@/styles/variables";

.listview {
  padding-left: map-get($map: $width, $key: "taskbar");
}

.content {
  width: 100%;
  background-color: map-get($map: $bg-variants, $key: "primary");

  padding: 0;
}
