// Theme colors
$theme-colors: (
  "primary": #7c8af7,
);

$bg-variants: (
  "primary": #f7f8fd,
  "secondary": #fff,
);

// Border radii
$border-radius: (
  "outer": 20px,
  "inner": 10px,
);

// Spacing
$spacing: (
  "sm": 0.5em,
);

// Transitions
$transition: (
  "default": all 0.2s ease-in-out,
);

// Shadows
$shadow: (
  "default": 0px 0px 12px rgba(0, 0, 0, 0.075),
  "tab": 8px 0px 12px rgba(0, 0, 0, 0.1),
);

// Component widths
$width: (
  "listview": 18rem,
  "taskbar": 4em,
);
